<launch>
    <!-- global params -->
    <param name="/use_sim_time" value="false"/>
    <rosparam file="$(find hole_tracker)/config/main.yaml" command="load" ns="hole_tracker"/>

    <!-- launch node -->
    <node name="detector_yolo" pkg="hole_tracker" type="node_detector_yolo.py" output="screen">
        
        <!-- input topics -->
        <remap from="input_img"     to="/quail/wrist_cam/image_raw/compressed"/>

        <!-- output topics -->
        <remap from="output_points" to="/tracker/detector/points"/> 
        <remap from="output_img"    to="/tracker/detector/img/compressed"/> <!-- /compressed subtopic for rviz! -->

    </node>
</launch>
