<launch>
    <!-- global params -->

    <!-- launch node -->
    <node name="estimate_tf" pkg="hole_tracker" type="node_estimate_tf.py" output="screen">
        
        <!-- params -->
        <param name="~target_frame" value="wall"/>
        <param name="~verbose"      value="False"/>
        <param name="~write_csv"    value="False"/>
        
        <!-- input topics -->
        <remap from="input_estim"   to="/tracker/estimate"/>
        
        <!-- output topics -->

    </node>
</launch>