<launch>
    <!-- global params -->
    <param name="/use_sim_time" value="true"/>

    <node name="tracker" pkg="hole_tracker" type="node_tracker.py" output="screen">
        <!-- params -->
        <param name="~run_hz"                value="50"/>
        <param name="~freq_inframe_check"    value="5"/>
        <param name="~freq_memory_check"     value="5"/>
        <param name="~freq_publish_estim"    value="30"/>
        <param name="~freq_publish_imgdebug" value="10"/>
        <param name="~tracker_thr_detect"    value="0.2"/>
        <param name="~tracker_thr_imugaps"   value="0.5"/>
        <param name="~tracker_thr_inframe"   value="3.0"/>
        <param name="~tracker_thr_offrame"   value="5.0"/>
        <param name="~tracker_history_len"   value="20"/>
        <param name="~tracker_tiebreak_m"    value="kde-0.1"/>

        <!-- input topics -->
        <remap from="input_points"   to="/tracker/detector/points"/>
        <remap from="input_img"      to="/quail/wrist_cam/image_raw/compressed"/>
        <remap from="input_odom"     to="/quail/msf_core/odometry"/>
        <remap from="input_normal"   to="/quail/normal_estimation/pose"/>
        <remap from="input_uavstate" to="/quail/controller_node/uav_state"/>

        <!-- output topics -->
        <remap from="output_img"        to="/tracker/img/compressed"/> <!-- /compressed subtopic for rviz! -->
        <remap from="output_estim"      to="/tracker/estimate"/>

    </node>
</launch>